/*  ==========================================================================
    Navigation
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */
            .dropdown {
                position: relative;
                display: inline-block;
                &:hover .dropdown-menu,
                &:focus .dropdown-menu {
                    @include opacity(1);
                    visibility: visible;
                }

                .dropdown-menu {
                    @include border-radius(6px);
                    @include box-shadow(0 0 2px 0 rgba(0,0,0,0.1));
                    @include transition(opacity 0.2s ease,visibility 0.2s ease);
                    min-width: 200px;
                    position: absolute;
                    z-index: 2;
                    top: 100%;
                    left: 0;
                    background: #fff;
                    margin-bottom: 0;
                    margin-top: 2px;
                    border: 1px solid #ccc;
                    border: 1px solid rgba(0,0,0,0.15);
                    @include opacity(0);
                    visibility: hidden;
                    text-align: left;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 5px 0;
                }
            }

        /*  Tabs
            ========================================================================== */
            .tablist-menu {
                padding: 20px;
            }

            .tabscroll-responsive { overflow-x: auto; }

            [role="tablist"] {
                padding-left: 0;
                margin: 6px 0 0;
                list-style-type: none;
                @include clearfix;
                > [role="presentation"] {
                    float: left;
                }
            }

            [role="tablist"] [role="tab"] {
                display: block;
                padding: 12px;
                background-color: $color-primary;
                color: #fff;
                text-decoration: none;
                &[aria-selected="false"]:hover {
                    background-color: lighten($color-primary, 5%);;
                }
                &[aria-selected="true"] {
                    background-color: #fff;
                    padding: 13px 12px;
                    color: $color-primary;
                    border-top: 4px solid;
                    margin-top: -6px;
                }
            }

            [role="tabpanel"] {
                background: #fff;
                width: 100%;
                display: inline-block;
                padding: 20px 16px 8px;
                &[aria-hidden="true"] {
                    display:none;
                    visibility:hidden;
                }
            }
        }

    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

        }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

    }
