/*  ==========================================================================
    Grid calc
    ========================================================================== */

/*  ==========================================================================
    Grid
    ========================================================================== */
    body {
        width: 100%;
        @include clearfix();
    }


    @media only screen {
        body{
            > [role]{
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .row {
            width: 100%;
            @include clearfix();
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*
     * CSS for devices with resolution higher than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {
        /* Grid calc */
        @import "grid-functions";

        /*  Content
            ========================================================================== */
            .content{
                @include width(9);
                @extend %column;
            }

        /*  Sidebar
            ========================================================================== */
            .sidebar{
                @include width(3);
                @extend %column;
                @extend %last;
            }

   }
