/*  ==========================================================================
    Typography
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust:none;
        }

        /*  Titles
            ========================================================================== */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: inherit;
                margin: 0 0 20px 0;
                font-weight: 400;
                color: inherit;
            }

            h1{
                font-size: 2.25em;
                line-height: 1.125;
            }

            h2{
                font-size: 1.875em;
                line-height: 1.15;
            }

            h3{
                font-size: 1.5em;
                line-height: 1.175;
            }

            h4{
                font-size: 1.125em;
                line-height: 1.25;
            }

            h5{
                font-size: 14px;
                line-height: 18px;
            }

            h6{
                font-size: 12px;
                line-height: 16px;
            }

        /*  Texts
            ========================================================================== */
            p {
                color: $color-black;
                font-size: 1em;
                line-height: 1.575;
                margin: 0 0 30px;
            }

        /*  Lists
            ========================================================================== */
            ul,
            ol,
            dl {
                color: $color-black;
                font-size: 16px;
                font-size: 1rem;
                line-height: 1.575;
                margin: 0 0 30px;
            }

        /*  Blockquotes
            ========================================================================== */
            blockquote {
                border-left: 6px solid $color-gray-light;
                padding: 0 0 0 22px;
                margin: 15px 20px;
            }

        /*  Links
            ========================================================================== */
            a {
                color: blue;
                text-decoration: none;
            }

            a:hover { text-decoration: underline; }

        /*  Figure
            ========================================================================== */
            figure{
                margin: 0;
            }
    }

    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }


    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
