<div class="row">

    <!-- SG Example -->
    <snack-example title="Cores" desc="" lang="html">

        <div class="col-6">
            <p>Cores Base</p>
            <span class="styleguide-pallets" style="color: #EEE; background-color: #333;">#333</span>
            <span class="styleguide-pallets" style="color: #111; background-color: #666;">#666</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #CCC;">#CCC</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #2ca8ff;">#2ca8ff</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #ffa92c;">#ffa92c</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #1abc9c;">#1abc9c</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #e74c3c;">#e74c3c</span>
        </div>
        <div class="col-6 last">
            <p>Cores do Tema</p>
            <span class="styleguide-pallets" style="color: #222; background-color: #ffd400;">#ffd400</span>
            <span class="styleguide-pallets" style="color: #222; background-color: #1d7ccc;">#1d7ccc</span>
        </div>

    </snack-example>

</div>
