<div class="row full">
    <div class="col-6">

        <!-- SG Example -->
        <snack-example title="Títulos" desc="" lang="html">
        <h1>H1. Um header show de bola</h1>
        <h2>H2. Um header show de bola</h2>
        <h3>H3. Um header show de bola</h3>
        <h4>H4. Um header show de bola</h4>
        <h5>H5. Um header show de bola</h5>
        <h6>H6. Um header show de bola</h6>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Paragrafo" desc="" lang="html">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Delegadis gente finis, bibendum egestas augue arcu ut est. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose</p>
        </snack-example>
    </div>
    <div class="col-6 last">

        <!-- SG Example -->
        <snack-example title="Subtítulos" desc="" lang="html">
        <h1 class="sub">H1. Um header show de bola</h1>
        <h2 class="sub">H2. Um header show de bola</h2>
        <h3 class="sub">H3. Um header show de bola</h3>
        <h4 class="sub">H4. Um header show de bola</h4>
        <h5 class="sub">H5. Um header show de bola</h5>
        <h6 class="sub">H6. Um header show de bola</h6>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Blockquote" desc="" lang="html">
        <blockquote>
            <p>"Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem nem um pouco convincentes"</p>
        </blockquote>
        </snack-example>
    </div>
</div>
